.addClientButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 2.6rem;
  width: 7rem;
  border-radius: 0.5rem;
  font-size: 1.2em;

  background-color: #2873b6;
  color: white;

  &:hover {
    background-color: #1e5a8f;
    cursor: pointer;
  }
}
