.register {
  width: 100%;
  height: 100%;

  &-content {
    padding: 1.5rem 2rem;
    &-title {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
      color: #2873b6;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-family: Arial, Helvetica, sans-serif;
    }
    &-form {
      padding-top: 2rem;
      & > h3 {
        font-size: 1.2em;
        font-weight: 600;
      }
      &_type {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 0;
        font-size: 1em;
        font-weight: 600;
        gap: 0.5rem;
        & > label:first-of-type {
          margin-right: 4rem;
        }
        & > input[type="radio" i] {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
.registerForm {
  & > section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 3rem;
    row-gap: 1rem;
    margin: 1rem 0;
    &:first-child {
      margin-bottom: 5rem;
    }
  }
  .radioField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      height: 2.5rem;
    }
    & > div > input[type="radio" i] {
      width: 1.2rem;
      height: 1.2rem;
      margin: 0;
    }
  }
  .inputField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & > p {
      font-size: 0.8em;
      font-weight: 600;
      color: #d80000;
    }
    & > textarea {
      width: 100%;
      height: min-content;
      min-height: 5rem;
      max-height: 15rem;
      resize: vertical;
      border-radius: 0.8rem;
      border: 1px solid rgb(180, 180, 180);
      background-color: none;
      padding: 1rem;
      &:focus {
        outline: none;
        border: 2px solid #2873b6;
      }
    }
    & > input,
    select {
      height: 2.5rem;
      border-radius: 0.8rem;
      border: 1px solid rgb(180, 180, 180);
      background-color: none;
      padding: 0 1rem;
      &[type="checkbox" i] {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        margin: auto 0;
      }
      &:focus {
        outline: none;
        border: 2px solid #2873b6;
      }
    }
  }
}
.actionFormButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #eaf1f8;
  height: 6rem;
  margin: 1rem 0;
  & > button {
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    font-size: 1.5em;
    font-weight: 600;
  }
  &_save {
    background-color: #3ead76;
    color: white;
  }
  &_cancel {
    background-color: #ee224b;
    & > a {
      color: white;
    }
  }
}
